/*捐赠二维码样式*/
.donation-qr-code {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    z-index: 10;
}

.donation-qr-code img {
    width: 150px; /* 二维码图片的宽度，根据需要调整 */
    height: auto;
    margin: 10px; /* 添加一些外边距 */
}

.donation-button:hover .donation-qr-code {
    display: block;
}

.donation-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}

.donation-button button {
    font-size: 24px !important;
}

.donation-button:hover button {
    display: none;
}

.donation-qr-code span {
    display: block;
    text-align: center;
}